body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29d9d5;
}

.chat-container {
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.chat-header {
    background-color: #222; 
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.chatbox {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 75%;
    word-wrap: break-word;
    line-height: 1.4;
    font-size: 20px;
}

.bot-message {
    /* background-color: #e0f7fa; */
    background-color: #29d9d5;

    align-self: flex-start;
}

.user-message {
    color: white;
    background-color: black;
    align-self: flex-end;
    margin-left: auto;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid #e0e0e0;
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 0 0 0 8px;
}

input[type="submit"]{
    width: 100px;
    padding: 15px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 0 8px 0;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
